{% extends 'base.html' %}
{% block title %}전체 레시피 리스트{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="btn-group">
    <a href={% url 'RecipeApp:recipe_list' %} class="btn btn-info">목록으로</a>
</div>
<p></p>
<table class="table mx-auto w-100">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">레시피 번호</th>
            <th scope="col">레시피명</th>
            <th scope="col">단계</th>
            <th scope="col">재료</th>
            <th scope="col">함량</th>
            <th scope="col">단위</th>
            <th scope="col">목측량</th>
            {% if user.is_superuser %}
            <th scope="col" width="70">수정</th>
            <th scope="col" width="70">삭제</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if ingredient_list %}
        {% for ingredient in ingredient_list %}
            <tr>
                <td>{{ingredient.id}}</td>
                <td>{{ingredient.rcp.id}}</td>
                <td><a href={% url 'RecipeApp:rcp_detail' ingredient.rcp.id %}>{{ingredient.rcp.name}}</a></td>
                <td>{{ingredient.type}}</td>
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.qnt}}</td>
                <td>{{ingredient.unit}}</td>
                <td>{{ingredient.msmt}}</td>
                {% if user.is_superuser %}
                <td><a href={% url 'RecipeApp:rcp_update' ingredient.rcp.id %} class="btn btn-success btn-sm">수정</a></td>
                <td><a href={% url 'RecipeApp:ingrdnt_delete' rcp_item.rcp_num rcp_item.rcp_pk %} class="btn btn-danger btn-sm">삭제</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% else %}
            {% if q %}
                <tr class="text-center">
                    {% if user.is_superuser %}
                        <td colspan="10">
                            일치하는 검색 결과가 없습니다.
                    {% else %}
                        <td colspan="8">
                            일치하는 검색 결과가 없습니다.
                    {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </tbody>
</table>
<p></p>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<p></p>
<div class="input-group justify-content-center">
    <form action="" method="GET">
        {% csrf_token %}
        <div class="col">
            <div class="form-row">
                <div class="form-row">
                    <div class="col">
                        <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                            <option value="all">전체</option>
                            <option value="rcp_pk">#</option>
                            <option value="rcp_num">레시피 번호</option>
                            <option value="rcp_nm">레시피명</option>
                            <option value="rcp_ingrdnt_nm">재료</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" name="q" value="{{ q }}" class="form-control form-control-md"
                            style="width: 15em;" placeholder="검색어를 입력해주세요.">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" id="search_btn">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<p></p>
{% else %}
<div class="alert alert-danger">
    페이지를 볼 수 있는 권한이 없습니다. 로그인 해 주세요.
</div>
{% endif %}
{% endblock %}

{% block pagination %}
{% if user.is_authenticated %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}">&larr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr;</a>
                </li>
            {% endif %}
        
            {% for index in pagelist %}
                {% if index == page_obj.number %}
                    <li class="page-item active">
                        <span class="page-link">{{ index }}</span>
                    </li>
                {% else %}
                    {% if index == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item">
                            <span class="page-link">{{ page_obj.paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ index }}">{{ index }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">&rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}