{% extends 'base.html' %}
{% block title %}레시피 상세정보{% endblock %}

{% block content %}
{% if user.is_superuser %}
<form method="POST">
    {% csrf_token %}
    <p>
        정말 {{ rcp_nm }} 을(를) 삭제하시겠습니까?
    </p>
    <div class="btn-group">
        <input class="btn btn-primary" type="submit" value="확인">
    </div>
    <div class="btn-group">
        <a href={% url 'RecipeApp:rcp_nm_list' %} class="btn btn-danger">취소</a>
    </div>
</form>
{% else %}
페이지를 볼 수 있는 권한이 없습니다. 로그인 해 주세요.
{% endif %}
{% endblock %}