{% extends 'base.html' %}
{% block title %}레시피 추가하기{% endblock %}

{% block content %}
{% if user.is_superuser %}
<p></p>
<form name = "rcp-create-form" onsubmit="return validateForm()" id="form-container" method="POST">
    {% csrf_token %}
    <table class="table mx-auto w-100">
        <h3>
            <label for="rcp_inst_nm">레시피 이름 : </label>
            <input name="rcp_inst_nm">
        </h3>
        <p></p>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">단계</th>
                    <th scope="col">재료</th>
                    <th scope="col">함량</th>
                    <th scope="col">단위</th>
                    <th scope="col">목측량</th>
                </tr>
            </thead>
            <tbody id="ingredients">
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="formset-form">
                    <tr>
                        <td id="rcp-sub-num" class="required">{{ form.rcp_sub_num }}</td>
                        <td id="rcp-sub-nm" class="required">{{ form.rcp_sub_nm }}</td>
                        <td id="rcp-ingrdnt-nm" class="required">{{ form.rcp_ingrdnt_nm }}</td>
                        <td>{{ form.rcp_ingrdnt_qnt}}</td>
                        <td>{{ form.rcp_ingrdnt_unit }}</td>
                        <td>{{ form.rcp_ingrdnt_sub }}</td>
                        
                    </tr>
                </div>
                {% endfor %}
            </tbody>
        </table>
    <p></p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="add-ingredient">+ 재료 추가</button>
    </div>
    <p></p>
    <div class="btn-group">
      <input class="btn btn-secondary" type="submit" value="완료">
    </div>
    <div class="btn-group">
        <a href={% url 'RecipeApp:rcp_nm_list' %} class="btn btn-danger">취소</a>
    </div>
</form>
{% else %}
<div class="alert alert-danger">
    페이지를 볼 수 있는 권한이 없습니다. 로그인 해 주세요.
</div>
{% endif %}
<script>

    // 폼 공백 시 경고 팝업창 자바스크립트
    function validateForm() {

        var rcpName = document.forms["rcp-create-form"]["rcp_inst_nm"].value;
        if (rcpName == "" || rcpName == null) {
          alert("레시피 이름을 입력하세요.");
          return false;
        }
    }
    

    // 재료추가 버튼 jQuery 코드
    $(document).ready(function() {
        $('#add-ingredient').click(function() {
            var ingredient = $('#ingredients tr:last').clone();
            ingredient.find('input').val('');
            var formCount = parseInt($('#id_form-TOTAL_FORMS').val());
    
            // formCount 증가
            $('#id_form-TOTAL_FORMS').val(formCount + 1);

            // 폼의 name과 id 필드 업데이트
            var formRegex = RegExp('form-(\\d+)-', 'g');
            var newFormHtml = ingredient.html().replace(formRegex, 'form-' + formCount + '-');
            ingredient.html(newFormHtml);
            var formPrefix = 'form-' + formCount + '-';
            ingredient.find('input[name="' + formPrefix + 'rcp_sub_num"]').val(formCount+1);
    
            $('#ingredients').append(ingredient);
        });
    });

</script>
{% endblock %}


       
<!--       var rcpFormCount = parseInt($('#id_form-TOTAL_FORMS').val());
        var prefix = "form-" + rcpFormCount + "-";
        
        var rcpNumFieldName = prefix + "rcp_sub_num";
        var rcpNum = document.forms["rcp-create-form"][rcpNumFieldName].value;
        if (rcpNum == "" || rcpNum == null) {
          alert("레시피 번호를 입력하세요.");
          return false;
        }

        var rcpSubNameFieldName = prefix + "rcp_sub_nm";
        var rcpSubName = document.forms["rcp-create-form"][rcpSubNameFieldName].value;
        if (rcpSubName == "" || rcpSubName == null) {
          alert("레시피 단계를 입력하세요.");
          return false;
        }

        var rcpIngrdntNameFieldName = prefix + "rcp_ingrdnt_nm";
        var rcpIngrdntName = document.forms["rcp-create-form"][rcpIngrdntNameFieldName].value;
        if (rcpIngrdntName == "" || rcpIngrdntName == null) {
          alert("재료 이름을 입력하세요.");
          return false;
        } 
--> 




