{% extends 'base.html' %}
{% block title %}레시피 리스트{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="btn-group">
    <a href={% url 'RecipeApp:recipe_create' %} class="btn btn-info">레시피 추가</a>
</div>
<div class="btn-group float-right">
    <a href={% url 'RecipeApp:ingredient_list' %} class="btn btn-info">전체 레시피 보기</a>
</div>
<p></p>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<p></p>
<table class="table mx-auto w-50">
    <thead>
        <tr>
            <th class="w-25 text-center">레시피 번호</th>
            <th class="w-50 text-center" scope="col">레시피명</th>
            {% if user.is_superuser %}
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if recipe_list %}
            {% for recipe in recipe_list %}
                <tr>
                    <td class="text-center">{{recipe.id}}</td>
                    <td><a href="./detail/{{recipe.id}}">{{recipe.name}}</a></td>
                    {% if user.is_superuser %}
                    <td><a href="./update/{{recipe.id}}" class="btn btn-success btn-sm">수정</a></td>
                    <td><a href="./rcp_delete/{{recipe.id}}" class="btn btn-danger btn-sm">삭제</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
        <!-- 추가된 코드 -->
            {% if q %}
                <tr class="text-center">
                    {% if user.is_superuser %}
                        <td colspan="4">
                            일치하는 검색 결과가 없습니다.
                    {% else %}
                        <td colspan="2">
                            일치하는 검색 결과가 없습니다.
                    {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </tbody>
</table>
<p></p>
<div class="input-group justify-content-center">
    <form action="" method="GET">
        <div class="col">
            <div class="form-row">
                <div class="form-row">
                    <div class="col">
                        <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                            <option value="all">전체</option>
                            <option value="rcp_id">레시피 번호</option>
                            <option value="rcp_name">레시피명</option>
                            <option value="ingredient_name">재료</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" name="q" value="{{ q }}" class="form-control form-control-md"
                            style="width: 15em;" placeholder="검색어를 입력해주세요.">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" id="search_btn">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<p></p>
{% else %}
<div class="alert alert-danger">
    페이지를 볼 수 있는 권한이 없습니다. 로그인 해 주세요.
</div>
{% endif %}
{% endblock %}


{% block pagination %}
{% if user.is_authenticated %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}">&larr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr;</a>
                </li>
            {% endif %}
        
            {% for index in pagelist %}
                {% if index == page_obj.number %}
                    <li class="page-item active">
                        <span class="page-link">{{ index }}</span>
                    </li>
                {% else %}
                    {% if index == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item">
                            <span class="page-link">{{ page_obj.paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ index }}">{{ index }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">&rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}